<div class="container">
  <div class="row">
    <div class="chatroom col-md-10 pull-right">
      <h3 class="chatroom_name">Main Chat</h3>
      <p>Chat here about all of the things</p>
      <div class="row">
        <div class=col-md-9">
          <div class="messages main">
          <%#<div class="row">%>
            <%#<div class="col-lg-6">%>
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default submit" type="button">Chat</i></button>
                </span>
                <input type="text" name="message[body]" class="form-control message" data-channel="main" placeholder="type your message">
              </div><!-- /input-group -->
            <%#</div>[> /.col-lg-6 <]%>
          <%#</div>[> /row <]%>
          </div>
          <div class="musicPlayer"></div>
        </div>
      </div>
    </div><!-- /chatroom -->
  </div><!-- /row -->
</div><!-- /container -->
