<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <%= link_to "Main", main_chat_path %>
      </li>
      <li>
        <%= link_to "Rock", rock_path %>
      </li>
      <li>
        <a href="#">Indie</a>
      </li>
      <li>
        <a href="#">Rap</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

</div>
<!-- /#wrapper -->
